@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_green_icons {
    @apply flex items-center justify-center cursor-pointer bg-lightgreen p-3 py-0 h-[48px] rounded-sm max-h-[48px];
  }
  .inside_green_icon {
    @apply text-green text-2xl cursor-pointer;
  }
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent !important;
  user-select: none !important;
  /* background-color: ; */
}

body {
  font-family: Poppins;
}

.slider-container {
}

#slide {
  width: auto !important;
  height: 410px !important;
}
#slide img {
  height: 100% !important;
}

#scrollnav::-webkit-scrollbar {
  background-color: red;
  display: none;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
}

#authmodal {
  background: rgba(0, 0, 0, 0.384);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
}

#s1QvSmGpRS7hxnjjfLvCkeDmy3MprJkpWBe {
  height: 0.5px;
  background-color: rgba(128, 128, 128, 0.582);
}
